* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    list-style: none;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: black;
    margin: 0 162px;
}

/*navigation container*/
.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    height: 123px;
    border-bottom: 1px dashed #262626;
}

.first-side button,
.last-side button {
    cursor: pointer;
    border-radius: 12px;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
    transition: background-color 0.3s, transform 0.2s;
}

.first-side {
    display: flex;
    gap: 14px;
}

.first-side button {
    background: black;
    color: #FFFFFF;
    border: 1px dashed #262626;
    padding: 18px 30px;
    min-width: 104px;
    height: 63px;
    font-weight: 400;
}

.first-side button:hover {
    background: #1A1A1A;
    border-style: solid;
}

.first-side button.products {
    width: 135px;
}

.last-side {
    display: flex;
    align-items: center;
    gap: 14px;
}

.last-side .shop-icon {
    width: 60px;
    height: 60px;
    background: #1A1A1A;
    border-radius: 12px;
}

.last-side .shop-icon:hover {
    background: #262626;
    border: 1px solid #333;
}

.last-side img {
    width: 24px;
    height: 24px;
    gap: 10px;
}

.last-side .contacts {
    width: 136px;
    height: 63px;
    background: #AE9B84;
    color: #0F0F0F;
    font-weight: 500;
    padding: 18px 30px;
}

.last-side .contacts:hover {
    background: #DCCFBE;
}


/*hero-container*/

.hero-container {
    margin-top: 60px;
    color: white;
    position: relative;
    cursor: pointer;
    border: 2px dashed #262626;
    border-radius: 20px;
}

.hero-photo img {
    width: 100%;
    display: block;
    object-fit: cover;
    height: 660px;
    border-radius: 20px 20px 0 0;
}

.shop-now {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 159px;
    height: 63px;
    border: 1px dashed #404040;
    background: #1F1F1F;
    color: white;
    padding: 18px 20px;
    gap: 4px;
    border-radius: 12px;
    font-family: Roboto;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0%;
    position: absolute;
    cursor: pointer;
    top: 628px;
    right: 518px;
    cursor: pointer;
    overflow: hidden;
    z-index: 1;
}

.shop-now::before {
    content: '';
    position: absolute;
    width: 200%;
    height: 200%;
    background: conic-gradient(transparent, #AE9B84, #ffffff, transparent);
    animation: rotate-border 2s linear infinite;
    z-index: -2;
}

.shop-now::after {
    content: '';
    position: absolute;
    inset: 2px;
    background: #1F1F1F;
    border-radius: 10px;
    z-index: -1;
}

.shop-now:hover::before,
.shop-now:hover::after {
    display: block;
}

/*ბორდერის ბრუნვისთვის საჭირო ანიმაცია*/
@keyframes rotate-border {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.hero-container-content {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 40px;
}


.left-hero-box,
.right-hero-box {
    flex: 1;
    /*ორივე მხარემ რომ დაიკავოს თანაბარი ნაწილი კონტეინერი*/
    width: 50%;
}

.right-hero-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.left-hero-box {
    display: flex;
    flex-direction: column;
    gap: 14px;
    width: 50%;
    gap: 20px;
    padding: 30px 80px 80px 80px;
    border-right: 2px dashed #262626;
}

.left-buttons {
    display: flex;
    gap: 14px;
}

.left-buttons button {
    font-family: Roboto Mono;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
    color: #B3B3B2;
    border: 2px dashed #262626;
    border-radius: 12px;
    padding: 6px 18px;
    gap: 24px;
    background: black;
    transition:
        background-color 0.2s linear 0s,
        border-style 0.2s linear 0s;
}

.left-buttons button:hover {
    background: #1A1A1A;
    border-style: solid;
    border-color: #AE9B84;
    transform: scale(1.1);

}

.left-hero-box h2 {
    font-family: Roboto;
    font-weight: 500;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: uppercase;
    color: white;
}

.left-hero-box p {
    font-family: Roboto;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0%;
    color: #676665;
}

.right-hero-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 100%;
    padding: 40px 80px 80px 20px;
}

.right-hero-box .hero-card-1 h3,
.right-hero-box .hero-card-2 h3,
.right-hero-box .hero-card-3 h3,
.right-hero-box .hero-card-4 h3 {
    font-family: Roboto;
    font-weight: 500;
    font-size: 50px;
    line-height: 150%;
    letter-spacing: 0%;
    color: white;
}

.right-hero-box .hero-card-1 p,
.right-hero-box .hero-card-2 p,
.right-hero-box .hero-card-3 p,
.right-hero-box .hero-card-4 p {
    font-family: Roboto;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0%;
    color: #676665;
}

/*confidence-container*/

.confidence-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    height: 900px;
    border: 2px dashed #262626;
    border-radius: 20px;
    margin-top: 24px;
}

.confidence-text h2 {
    color: white;
    font-family: Roboto;
    font-weight: 500;
    font-size: 48px;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: uppercase;
    margin-top: 60px;
    margin-bottom: 20px;
}

.confidence-text p {
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0%;
    color: #676665;
}

.confidence-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    border-top: 2px dashed #262626;
    height: 694px;
}

.conf-card-1,
.conf-card-2,
.conf-card-3,
.conf-card-4,
.conf-card-5,
.conf-card-6 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 40px;
    box-sizing: border-box;
}

.conf-card-1 img,
.conf-card-2 img,
.conf-card-3 img,
.conf-card-4 img,
.conf-card-5 img,
.conf-card-6 img {
    width: 94px;
    height: 94px;
    border-radius: 100px;
    margin-bottom: 24px;
    padding: 14px;


}

.conf-card {
    display: flex;
    flex-direction: column;
    gap: 14px;
    padding: 0 20px;
}

.conf-card h3 {
    color: white;
    font-family: Roboto;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0%;
}

.conf-card p {
    color: #81807E;
    font-family: Roboto;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    letter-spacing: 0%;
}

.border-right-bottom {
    border-right: 2px dashed #262626;
    border-bottom: 2px dashed #262626;

}

.border-right {
    border-right: 2px dashed #262626;
    display: flex;
}


.border-bottom {
    border-bottom: 2px dashed #262626;
}

.conf-card-1,
.conf-card-2,
.conf-card-3,
.conf-card-4,
.conf-card-5,
.conf-card-6 {
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 140px 160px;
}

.conf-card-1 {
    background-image: url("./assets/star-hover.png");
}

.conf-card-2 {
    background-image: url("./assets/balls-hover.png");
}

.conf-card-3 {
    background-image: url("./assets/mask-hover.png");
}

.conf-card-4 {
    background-image: url("./assets/win-hover.png");
}

.conf-card-5 {
    background-image: url("./assets/pill-hover.png");
}

.conf-card-6 {
    background-image: url("./assets/dontknow-hover.png");
}

/*collection-contaimer*/

.collection-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    min-height: 1000px;
    border: 2px dashed #262626;
    border-radius: 20px;
    margin-top: 24px;
}

.collection-text {
    height: 350px;
    padding: 80px 40px;
    background-image: url("./assets/star-card.png");
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 230px 350px;
}


.collection-text h2 {
    color: white;
    font-family: Roboto;
    font-weight: 500;
    font-size: 48px;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: uppercase;
}

.collection-text p {
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0%;
    color: #676665;
    margin-top: 30px;
    margin-bottom: 50px;
}

.collection-navigation {
    display: flex;
    gap: 14px;
}

.collection-navigation button {
    font-family: Roboto Mono;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
    color: #B3B3B2;
    border: 2px dashed #262626;
    border-radius: 12px;
    padding: 6px 18px;
    gap: 34px;
    background: black;
    transition:
        background-color 0.2s linear 0s,
        border-style 0.2s linear 0s;
}

.collection-navigation button:hover {
    background: #1A1A1A;
    border-style: solid;
    border-color: #AE9B84;
    transform: scale(1.1);
}

.collection-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top: 2px dashed #262626;
}

[class^="collection-card-"] {
    display: flex;
    flex-direction: column;
    padding: 15px;
    justify-content: space-between;
    box-sizing: border-box;
    height: 100%;
    border-right: 2px dashed #262626;
}

.collection-card-3,
.collection-card-6 {
    border-right: none;
}

.collection-card-4,
.collection-card-5,
.collection-card-6 {
    border-top: 2px dashed #262626;
}

.cloth {
    width: 100%;
    height: 280px;
    opacity: 1;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    object-fit: cover;
    margin-bottom: 20px;
    cursor: pointer;
    transition: all 0.2s linear;
}

.cloth:hover {
transform: scale(1.07);
}

.collection-card-1>div {
    margin-top: 15px;
}

.items {
    width: 120px;
    height: 37px;
    border-radius: 100px;
    border-width: 1px;
    border-style: dashed;
    opacity: 1;
    padding: 10px 16px;
    background: #1A1A1A;
    border: 2px dashed #262626;
    color: #B3B3B2;
    cursor: pointer;
}

.items:hover {
    background: #262626;
    border: 1px solid #333;
    transform: scale(1.05);
}

.shop-now-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 130px;
    height: 47px;
    border: 1px dashed #404040;
    background: #1F1F1F;
    color: white;
    padding: 18px 20px;
    gap: 4px;
    border-radius: 12px;
    font-family: Roboto;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    letter-spacing: 0%;
    cursor: pointer;
    position: relative;
    z-index: 0;
    overflow: hidden;
    border: none;
}

.shop-now-btn::before {
    content: '';
    position: absolute;
    z-index: -2;
    left: -50%;
    top: -50%;
    width: 200%;
    height: 200%;
    background: conic-gradient(transparent, #AE9B84, #ffffff, transparent);
    animation: rotate-border 3s linear infinite;
    animation-name: rotate-border;
}

.shop-now-btn::after {
    content: '';
    position: absolute;
    z-index: -1;
    left: 2px;
    top: 2px;
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    background: #1F1F1F;
    border-radius: 11px;
}

@keyframes rotate-border {
    100% {
        transform: rotate(360deg);
    }
}

.shop-now-btn img {
    position: relative;
    z-index: 1;
}

.arrow-btn {
    width: 18px;
    height: 18px;
    padding: 0;
}

.buttons-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.cart-content div {
    display: flex;
    justify-content: start;
    gap: 20px;
}

.cart-content h3 {
    color: white;
    font-family: Roboto;
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0%;
}

.cart-content p {
    color: #CCCCCC;
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
}

/*questions-answers-container*/

.questions-container {
    display: flex;
    flex-direction: column;
    border: 2px dashed #262626;
    border-radius: 20px;
    margin-top: 24px;
    overflow: hidden;
    min-height: 500px;
}

.questions-text {
    padding: 60px 80px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: start;
    gap: 40px;
    background-image: url("./assets/sun-card.png");
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 200px 300px;
}

.questions-text h2 {
    color: white;
    font-family: Roboto;
    font-weight: 500;
    font-size: 48px;
    line-height: 120%;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.questions-text p {
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #676665;
}

.questions-navigation {
    display: flex;
    flex-direction: row;
    gap: 14px;
}

.questions-navigation button {
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
    color: #B3B3B2;
    border: 2px dashed #262626;
    border-radius: 12px;
    padding: 10px 20px;
    background: black;
    cursor: pointer;
    transition: all 0.2s linear;
}

.questions-navigation button:hover {
    background: #1A1A1A;
    border-style: solid;
    border-color: #AE9B84;
    color: white;
}

.questions-answers {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    border-top: 2px dashed #262626;
}

.questions-answers>div {
    padding: 50px;
    border-right: 2px dashed #262626;
    border-bottom: 2px dashed #262626;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.questions-answers>div:nth-child(4n) {
    border-right: none;
}

.questions-answers>div:nth-child(2n) {
    border-right: none;
}

.questions-answers>div:nth-child(5) {
    border-bottom: none;
}

.questions-answers>div:nth-child(6) {
    border-bottom: none;
}


.questions-answers h3 {
    color: white;
    font-family: Roboto;
    font-weight: 500;
    font-size: 20px;
    line-height: 140%;
    cursor: pointer;
    transition: all 0.2s linear;
}

.questions-answers h3:hover {
    color: #DCCFBE;
    transform: scale(1.02);
}

.questions-answers p {
    color: #81807E;
    font-family: Roboto;
    font-weight: 400;
    font-size: 12px;
    line-height: 160%;
}


/*socmedia-container*/

.socmedia-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 346px;
    border-bottom: 2px dashed #262626;
}

.logo-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 200px;
}

.logo-container .big-logo {
    width: 50%;
}

.soc-media-logos {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.soc-media-logos button {
    width: 60px;
    height: 60px;
    border-radius: 12px;
    background: #1A1A1A;
    cursor: pointer;
    animation: wave-opposite 2.5s linear infinite;
}

.soc-media-logos button:nth-child(even) {
    animation-direction: reverse;
}

@keyframes wave-opposite {
    0% {
        transform: translateY(0);
    }

    25% {
        transform: translateY(-10px);
    }

    50% {
        transform: translateY(0);
    }

    75% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(0);
    }
}


/*footer-navigation-container*/

.footer-navigation-container {
    display: flex;
    justify-content: space-between;
    height: 279px;
    align-items: center;
    gap: 80px;
    border-bottom: 2px dashed #262626;
}

.home,
.products-list {
    width: 350px;
    height: 86px;
}

.home h2,
.products-list h2,
.form label {
    color: white;
    font-family: Roboto;
    font-weight: 500;
    font-size: 22px;
    line-height: 100%;
    letter-spacing: 0%;
}

.home a,
.products-list a,
.email {
    color: #676665;
    font-family: Roboto;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0%;
}

.nav-list {
    display: flex;
    gap: 38px;
    padding: 30px 0;
    cursor: pointer;
}

.nav-list a{
    transition: all 0.2s linear;
}
.nav-list a:hover {
    color: #DCCFBE;
    transform: scale(1.15);
}

.form {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.email {
    width: 378px;
    height: 63px;
    background: #1A1A1A;
    padding: 18px 24px;
    border-radius: 12px;
}

/*footer-container*/
.footer-container {
    display: flex;
    justify-content: space-between;
    height: 127px;
    align-items: center;
}

.rights p {
    font-family: Roboto;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0%;
    color: #676665;
}

.terms {
    display: flex;
    gap: 14px;
}

.terms a,
span {
    font-family: Roboto;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0%;
    color: #676665;
}

.terms a {
    cursor: pointer;
    transition: all 0.3s linear;
}

.terms a:hover {
    color: #DCCFBE;
    transform: scale(1.05);
}